:root {
  --color-dark-background: rgba(13, 7, 6, 1);
  --color-dark-background-trans: rgba(13, 7, 6, 0.7);
  --color-light-font-for-dark-background: wheat;
  --color-light-background: rgba(174, 250, 211, 1);
  --color-light-background-trans: rgba(174, 250, 211, 0.7);
  --color-dark-font-for-light-background: rgb(45, 25, 20);

  --color-bg-accent-1: rgb(45, 25, 20);
  --color-bg-accent-2: rgb(45, 35, 30);
  --color-bg-accent-3: rgb(45, 45, 40);
  --color-bg-accent-4: rgb(45, 55, 50);

  --color-shadow-A: rgba(174, 250, 211, 0.1);
  --color-shadow-B: rgba(174, 250, 211, 0.2);

}


#carousel-images {
  border: solid 2px white;
  height: 50vh;
  width: 50vw;
  /* position: absolute;
  left: 0; */
}

#banner {
  background-image:url("../images/banner_band.jpg");
  background-size: cover;
  height: 40vh;

  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

#banner p {
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
  /* padding-left: 2em;
  padding-top: 2em; */
  padding: 2em;
}

.section {
  margin-top: 2em;
  margin-bottom: 2em;
}

.band-member img {
  border-radius: 50%;
  border: white 0.25em solid;
}

.band-member h3, .band-member p {
  margin: 0.5em;
  padding: 0;
}

#menu-desktop {
  display: flex;
}

#menu-phone {
  display: none;
}

#events li {
  font-family: 'Arial', sans-serif;
  font-size: 80%;
  padding-left: 1em;
  padding-right: 1em;
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.2;
  font-size: 110%;
}

#images {
  margin: 0 auto;
}


@media only screen and (max-width: 700px) {

  body {
    line-height: 1;
    font-size: 105%;
  }

  #menu-desktop {
    display: none;
  }

  #menu-phone {
    display: flex;
  }


  #banner p {
    padding: 0.5em;
  }

  ul, li, h4 {
    max-width: 90%;
    padding: 0;
  }

  img {
    width: 50%;
  }

  .container {
    width: 100%;
    padding-top: 2em;
  }


}
